/*=======================================*/
/*=== IMAGE & MENU CONTAINER DETAILED ===*/
/*=======================================*/

.top-or-left-intro-container {
    background-image: none;
}

.first-theme-container {
    background-color: #3A3320;
}

.second-theme-container {
    background-color: #3A3320;
}

.page-title {
    color: #3A3320;

}

.about-container p {
    color: #3A3320;
}

.top-or-left-intro-wrapper {
    background-image: none;
    display: flex;
    justify-content: center;
}


.top-or-left-intro-wrapper svg {
    width: 58vw;
    height: 56vw;
}


.magic-btn {
    color: #3A3320;
    border: #3A3320 1px solid;
}

.magic-btn svg {
    transform: none;
    stroke: #3A3320;
    width: 70%;
    height: 70%;
}


@media screen and (min-width: 769px) {

    .top-or-left-intro-wrapper svg {
        width: 28vw;
        height: 26vw;
    }


}
