/*====================================*/
/*============= RESET CSS ============*/
/*====================================*/

body {
    color: black;
}

body,
h1,
h2,
p,
ul,
ol {
    margin: 0;
    font-family: TwCen-Light;

}

ul,
ol {
    list-style-type: none;
    padding-left: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    background: none;
    outline: none;
    padding: 0;
    text-transform: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: TwCen-Medium;
}


/*====================================*/
/*=============== FONTS ==============*/
/*====================================*/



@font-face {
    font-family: "TwCen-Light";
    src: url("../Media/Fonts/Tw\ Cen\ MT\ W01\ Light.ttf") format("opentype");
    font-weight: light;
    font-style: normal;
}

@font-face {
    font-family: "TwCen-Medium";
    src: url("../Media/Fonts/Tw\ Cen\ MT\ W01\ Medium.ttf") format("opentype");
    font-weight: medium;
    font-style: normal;
}


@font-face {
    font-family: "TwCen-SemiBold";
    src: url("../Media/Fonts/Tw\ Cen\ W01\ Semi\ Bold.ttf") format("opentype");
    font-weight: bold;
    font-style: normal;
}


/*===================================*/
/*============== OTHER ==============*/
/*===================================*/


body {
    background-color: #E7B39C;
}

main {
    height: 100vh;
    width: 100%;
    background-color: #E7B39C;
}



/*===================================*/
/*============= GENERAL =============*/
/*===================================*/


main {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.top-or-left-intro-container {
    background-color: #ABAFC7;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.top-or-left-intro-wrapper {
    background-color: green;
    height: 85vw;
    width: 75%;
    margin: 15vw;
    margin-top: 20vw;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.bottom-or-right-container {
    background-color: #E7B39C;
    height: fit-content;
    width: 100%;
}

.bottom-or-right-wrapper {
    height: fit-content;
    margin: 5vw;
    margin-top: 8vw;
    overflow: hidden;
}


/*===== TOP OR LEFT INTRO DETAILED =====*/

.page-header {
    height: fit-content;
    width: fit-content;
    position: absolute;
    top: 2vw;
}

.page-header h1 {
    color: white;
    user-select: none;
}

.description {
    margin-bottom: 3vw;
}

.magic-btn-container {
    width: 100%;
    height: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.magic-btn-wrapper {

    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
}

.magic-button {
    background-color: rgba(255, 255, 255, 0.150);
    color: white;
    border: white 1px solid;
    height: 5vw;
    width: 5vw;
    min-height: 30px;
    min-width: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 6vw;
    border-top-right-radius: 6vw;
    border-bottom-right-radius: 6vw;
    border-bottom-left-radius: 6vw;
    cursor: pointer;
}

.magic-button svg {
    transform: rotate(270deg);
}


/*=== MAGIC BUTTON ANIMATION ON HOVER ===*/

.magic-button {
    transition: transform 0.25s, background-color 0.25s;
}

.magic-button:hover {
    transform: scale(1.15);
    background-color: rgba(255, 255, 255, 0);
}


/*=======================================*/
/*=== IMAGE & MENU CONTAINER DETAILED ===*/
/*=======================================*/
.top-or-left-intro-container {
    background-image: url(../Media/Images//background-bushes2.jpg);
    background-size: cover;
}

.top-or-left-intro-wrapper {
    background-image: url(../Media/Images/foreground_amalfi2.jpg);
    background-size: cover;
}


/*==================================*/
/*==== BOTTOM OR RIGHT DETAILED ====*/
/*==================================*/

.top-line-of-punchline {
    text-align: left;
}

.second-line-of-punchline {
    text-align: left;
    white-space: nowrap;
}

.third-line-of-punchline {
    text-align: right;
}

.bottom-line-of-punchline {
    text-align: right;
}

.punchline-container h1 {
    font-size: 10.55vw;
    color: #3A3320;
    line-height: 7.5vw;
    user-select: none;
}





/*=====================*/
/*=== RESPONSIVNESS ===*/
/*=====================*/


@media screen and (min-width: 769px) {

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .top-or-left-intro-container {
        grid-column: 1/2;
        grid-row: 1/2;
        height: 100vh;
        width: 50%;
        position: fixed;
        left: 0;
    }

    .top-or-left-intro-wrapper {
        flex-grow: 1;
        margin: 5vw;
        margin-top: 7vw;
        margin-bottom: 0;
    }

    .magic-btn-container {
        height: 15vw;
    }

    .magic-button {
        max-height: 40px;
        max-width: 40px;
    }


    /*==== BOTTOM RIGHT ====*/

    .bottom-or-right-container {
        grid-column: 2/3;
    }

    .bottom-or-right-wrapper {
        margin-top: 7vw;
    }

    .punchline-container h1 {
        font-size: 4.7vw;
        line-height: 3.5vw;

    }

}
